@use "../variables" as var;

header {
  height: 72px;
  background-color: var.$tertiary;
  padding: 10px;
  display: grid;
  align-items: center;
  justify-content: start;
  img {
    height: 20px;
  }
}


.chart {
  background-color: var.$secondary;
  color: #fff;
  min-height: 400px;
}
