@use "../variables" as var;

header {
  height: 72px;
  background-color: var.$tertiary;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    height: 20px;
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

label {
  color: var.$tertiary;
}

.chart {
  background-color: var.$secondary;
  color: #fff;
  padding: 20px;
}

.no-equipment {
  text-align: center;
  p {
    padding-top: 40px;
    font-size: 160px;
    height: 290px;
    font-weight: bold;
  }
}

.first-row {
  height: 400px;
}