<header>
  <img
    src="assets/logo.png"
    alt="logo" />
</header>
<main class="container">
  <div class="text-white my-4">
    <h1>
      <i class="fa-solid fa-location-pin"></i>
      Warehouse #51 - Charge'n Lift
    </h1>
    <p>No. of Equipments on site <span class="badge bg-secondary">5</span></p>
  </div>

  <div class="row">
    <div class="col col-sm-12 col-md-6">
      <div class="chart">
        <div
          id="chart-2"
          style="width: 100%; height: 300px"></div>
        <h3 class="text-center mt-2">Avg. State Of Health (%)</h3>
      </div>
    </div>
    <div class="col col-sm-12 col-md-6">
      <div class="chart">
        <div
          id="chart-3"
          style="width: 100%; height: 300px"></div>
        <h3 class="text-center mt-2">Avg. Termination Cell Voltage (V)</h3>
      </div>
    </div>
  </div>
  <hr />
  <div class="form-group d-flex justify-content-between align-items-center">
    <h2 class="text-white"><i class="fa-solid fa-car-battery"></i> Charger {{ selectedOption.value }}</h2>
    <form class="w-25 my-3">
      <label for="chargers">Select Equipment</label>
      <select
        id="chargers"
        class="form-control"
        [formControl]="selectedOption"
        (change)="onChargerChange($event)">
        @for(option of options;track option) {
        <option [value]="option.value">
          {{ option.label.replace("_", " ") }}
        </option>
        }
      </select>
    </form>
  </div>

  <div class="row">
    <div class="col">
      <div
        class="chart"
        id="chart-1"
        style="width: 100%; height: 500px"></div>
    </div>
  </div>
</main>
