<header>
  <img
    src="assets/logo.png"
    alt="logo" />
</header>
<main class="container">
  <div class="form-group mb-5 d-flex justify-content-end">
    <form class="w-25">
      <label for="chargers">Select Charger</label>
      <select
        id="chargers"
        class="form-control"
        [formControl]="selectedOption"
        (change)="onChargerChange($event)">
        @for(option of options;track option) {
        <option [value]="option.value">
          {{ option.label.replace("_", " ") }}
        </option>
        }
      </select>
    </form>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div
        class="chart"
        id="chart-1"
        style="width: 100%; height: 500px"></div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-12 col-md-6">
      <div class="chart"></div>
    </div>
    <div class="col col-sm-12 col-md-6">
      <div class="chart"></div>
    </div>
  </div>
</main>
