@use "../variables" as var;

header {
  height: 72px;
  background-color: var.$tertiary;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    height: 20px;
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

label {
  color: var.$tertiary;
}

.chart {
  background-color: var.$secondary;
  color: #fff;
  padding: 20px;
}
